body {
    width: 100vw;
    height: 100vh;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    height: 500px;
    width: 400px;
    background-color: rgb(29, 29, 29);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator-container {
    height: 100%;
    width: 100%;
    margin: 5px;
    
    display: flex;
    flex-direction: column;
}

#display {
    height: 80px;;
    width: auto;
    background-color: rgb(131, 165, 103);
    margin: 10px;
    margin-bottom: 0px;
    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

#button-container {
    height: 100%;
    width: auto;
    margin: 10px;
}

#button-grid {
    height: 100%;
    width: auto;
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 6px;
    column-gap: 6px;
}

#other-button-container {
    height: 75px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}

#other-button-grid {
    height: 100%;
    width: auto;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 6px;
    column-gap: 6px;
}

.number-button {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    background-color: rgb(107, 107, 107);
}

.function-button {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    background-color: rgb(73, 73, 73);
}

.other-button {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    background-color: silver;
}

.equals-button {
    background-color:rgb(185, 185, 185);
}

#ac {
    background-color: brown;
}
